.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: #1976d2;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #121828;
}
.jc-sb {
  justify-content: space-between;
}
.flex {
  display: flex;
}

a:hover {
  color: unset;
}

.header__top__right__language:hover,
.header__top__right__language a:hover {
  color: #1976d2;
}

.footer__widget ul li a:hover,
.header__top__right__social a:hover,
.sidebar__item ul li a:hover {
  color: #7fad39
}

.featured__item__pic__hover li a,.product__details__text .primary-btn, .primary-btn.cart-btn.cart-btn-right,.product__item__pic__hover li a {
  cursor: pointer;
}

.filter__item .row {
  align-items: center;
}